* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px;
  10px / 16px = 0.625 = 62.5%
  percentage of user's browser font-size setting */
  font-size: 62.5%;

  /* Only works if there is nothing absolutely positioned in relation to the body */
  /* overflow-x: hidden; */

  /* does not work on safari*/
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 96px;
}
.header {
  max-width: 130rem;
  margin: 9rem auto;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: hsl(321, 100%, 78%);
  border: 0.2rem solid hsl(321, 100%, 78%);
  padding: 1.2rem 3.2rem;
  border-radius: 4rem;
}
.nav-link:hover {
  box-shadow: 0 0.9rem 0.9rem rgba(0, 0, 0, 0.07);
}
.header-primary-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  width: 55%;
  /* justify-content: center; */
  text-align: center;
}
.header-primary {
  color: hsl(192, 100%, 9%);
  font-size: 3.2rem;
  font-weight: 700;
}
.header-primary-text {
  display: inline-block;
  width: 75%;
  color: hsl(192, 100%, 9%);
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.get-started {
  text-decoration: none;
  color: hsl(207, 100%, 98%);
  padding: 1.2rem 4.8rem;
  background-color: hsl(321, 100%, 78%);
  border-radius: 4rem;
}
.get-started:hover {
  box-shadow: 0 0.9rem 0.9rem rgba(0, 0, 0, 0.07);
}
.img-box {
  display: flex;
  justify-content: center;
}
